{% extends "govuk/template.njk" %}

{% block head %}
  <link href="{{ assetPath }}/stylesheets/application.css" rel="stylesheet" />
{% endblock %}

{% block header %}
  {{ govukHeader({
    homepageUrl: "#",
    containerClasses: "govuk-width-container",
    serviceName: serviceName,
    serviceUrl: "#"
  }) }}
{% endblock %}

{% block pageTitle %}
  {{ pageTitle }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Default page template</h1>
{% endblock %}

{% block bodyEnd %}
  <script type="module" src="{{ assetPath }}/govuk-frontend.min.js"></script>
  <script type="module">
    import { initAll } from '{{ assetPath }}/govuk-frontend.min.js'
    initAll()
  </script>  
{% endblock %}
